{% extends 'base.html' %}
{% load i18n %}

{% block head %}
    <title>Consulta de Pesquisas</title>
{% endblock %}

{% block content %}
{% endblock %}

{% block body %}
<div class="col-10 m-auto pt-2 pb-2" text-center>
    <h1>Consultar arquivo CSV</h1>
  </div>
   
  <div class="col-10 m-auto pt-2 pb-2" text-center>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Autores</th>
          <th scope="col">Título</th>
          <th scope="col">Fonte do artigo</th>
          <th scope="col">Palavras-chave</th>
          <th scope="col">Resumo do artigo</th>
          <th scope="col">Endereço dos Autores</th>
          <th scope="col">Instituição de vínculo dos autores</th>
          <th scope="col">Agência de Fomento</th>
          <th scope="col">Contagem do número de citações</th>
          <th scope="col">Ano da publicação</th>
          <th scope="col">Áreas de pesquisa</th>
          <th scope="col">Edição</th>
        </tr>
      </thead>
      <tbody>
        {% for pesquisa in pesquisas %}
          <tr>
            <td>{{ pesquisa.autores }}</td>
            <td>{{ pesquisa.titulo }}</td>
            <td>{{ pesquisa.fonte_artigo }}</td>
            <td>{{ pesquisa.palavras_chave }}</td>
            <td>{{ pesquisa.resumo_artigo }}</td>
            <td>{{ pesquisa.endereco_autores }}</td>
            <td>{{ pesquisa.instituição_vinculo_autores }}</td>
            <td>{{ pesquisa.agencia_fomento }}</td>
            <td>{{ pesquisa.contagem_citacoes }}</td>
            <td>{{ pesquisa.ano_publicacao }}</td>
            <td>{{ pesquisa.areas_pesquisa }}</td>
            <td><a href="{% url 'deletarPesquisa' id=pesquisa.id %}" class="btn btn-danger">Deletar</a></td>
          </tr>
        {% endfor %}  
      </tbody>
    </table>
  </div>

{% endblock %}