{% extends 'base.html' %}
{% load i18n %}

{% block head %}
    <title>Melhorias Futuras</title>
{% endblock %}

{% block content %}
{% endblock %}

{% block body %}
<div class="container">
</br></br>
<h1>Melhorias Futuras</h1>
</br></br>
<h3>Melhorias de sistema de usuários:</h3>
<p>- Grupo de usuários;</p>
<p>- Alteração dos dados cadastrais dos usuários;</p>
<p>- Alteração de senha por confirmação de e-mail.</p>
</br></br>
<h3>Melhorias do sistema de pesquisas:</h3>
<p>- Cadastrar pesquisa por data de inserção e usuários;</p>
<p>- Implantar a metodologia KDD – Knowledge Discovery (in Databases): Descoberta de Conhecimento. DM – Data Mining: Mineração de Dados;</p>
<p>- Automatizar e gerar relatórios;</p>
<p>- Apresentação estatística de dados com a biblioteca Matplotlib.</p>
{% endblock %}