{% extends 'base.html' %}

{% block head %}
    <title>PI - GP3 - Home</title>
{% endblock %}

{% block body %}
<div class="container">
    </br></br></br></br>
    <img src="../static/img/univesp.png" alt="Banner Univesp PI" width="250" align="left">
    <img src="../static/img/python.png" alt="Banner python" width="250" align="right">
    <h3 align="center">Projeto Integrador Univesp Grupo 33</h3>
    </br>
    <h3 align="center">Importando arquivo CSV para banco de dados com Django framework web Python</h3>
    </br></br></br></br></br></br></br></br>
    <center><img src="../static/img/pythoncsv.png" alt="Banner python CSV" width="250"></center>
</div>
{% endblock %}